@import '../../variables.scss';

.cardMenu {
  display: flex;
  justify-content: space-between;
  margin: 1em 0;
  
  .boxMenu {
    display: flex;
    padding: 0 1em;
    &:hover {
      cursor: pointer;
    }
  }

  .icon {
    margin-right: 1em;
    width: 23px;
    height: 23px;
  }
}
